<div class="register-wrapper">

    <% if (typeof errors != 'undefined') { %>
        <% errors.forEach(function(err) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= err.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }); %>
    <% } %>
    <% if (success_msg != '') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <% if (error_msg != '') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <div class="content-wrapper">
        <section id="display">
            <h2><span>Sign up</span> with email and phone number</h2>
        </section>
        <section class="content">
            <form action="/users/register" method="POST">
                <input type="email" name="email" id="email" placeholder="Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>">
                <input type="tel" name="phone" id="phone" placeholder="Phone Number"
                    value="<%= typeof phone != 'undefined' ? phone : '' %>">
                <input type="password" name="password" id="password" placeholder="Password"
                    value="<%= typeof password != 'undefined' ? password : '' %>">
                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password"
                    value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>">
                <button type="submit">Sign Up</button>
            </form>
        </section>
    </div>
    <small>
        <a href="/users/login">Already have an account? Sign In</a>
    </small>
</div>